body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  height: 100%;
  background-color: #FAFAFA;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  margin-top: 55px;
  padding: 0;
  margin-right: 15px;
  box-sizing: border-box;
}

.sidebar h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.sidebar a {
  padding: 15px 20px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-left: 3px solid transparent;
  transition: all 0.3s ease;
}

.sidebar a:hover {
  background-color: #e9e9e9;
  border-left: 3px solid #907761;
  color: #333;
}

.sidebar i {
  margin-right: 10px;
  margin-top: 25px;
}

.container_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  width: calc(100% - 300px);
}

.profile-edit {
  width: 100%;
  max-width: 900px; /* Ajusta el ancho máximo */
  padding: 20px;
}

.profile-edit h2 {
  margin-bottom: 20px;
}

.profile-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input[type="file"] {
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Espacio entre los campos */
}

.half-width {
  flex: 1; /* Ambos campos toman el mismo ancho */
}

.full-width {
  width: 100%;
}

.profile-edit label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.profile-edit span {
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #000000;
  font-size: 15px;
  box-sizing: border-box;
}

/* Ajustes para asegurar que los campos ocupen todo el espacio disponible */
.form-row .form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Asegura que los campos estén alineados correctamente */
.form-row .half-width {
  width: calc(50% - 10px); /* Mantiene el espacio proporcional */
}

