body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
}

/* Estilo para la sidebar */
.sidebar {
  width: 300px;
  height: 100%;
  background-color: #FAFAFA;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  top:0;
  bottom:0;
  margin-top: 55px;
  padding: 0;
  box-sizing: border-box;

}

.sidebar h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.sidebar a {
  padding: 15px 20px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-left: 3px solid transparent;
  transition: all 0.3s ease;
}

.sidebar a:hover {
  background-color: #e9e9e9;
  border-left: 3px solid #907761;
  color: #333;
}

.sidebar a.active {
  background-color: #e9e9e9;
  border-left: 3px solid #907761;
  font-weight: bold;
}

.sidebar i {
  margin-right: 10px;
  margin-top:25px;

}

/* Estilo para el contenedor principal */
.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
}

/* Estilo para el contenedor principal */
.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
}

/* Estilo para el contenedor del perfil */
.container_profile {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  margin-top: 25px;
}

.profile-edit {
  width: 100%;
  max-width: 800px; /* Tamaño máximo del contenedor */
  padding: 20px;
}

.profile-edit h2 {
  text-align: center; /* Centra el texto del encabezado */
  margin-bottom: 20px;
}

/* Estilo para centrar la imagen y el botón de subir imagen */
.profile-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

input[type="file"] {
  text-align: center;
}

/* Estilo para el formulario */
.profile-edit .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Campo "Nombre" que abarca la mitad del contenedor */
.profile-edit .form-group.full-width {
  width: 100%;
  margin-right: 0;
}

/* Apellido paterno y materno en la misma línea */
.form-group.inline {
  display: flex;
  justify-content: space-between;
}

.form-group.inline .form-group {
  width: 48%;
  margin-bottom: 0;
}

/* Correo electrónico y número de WhatsApp en la misma línea */
.form-group.contact {
  display: flex;
  justify-content: space-between;
}

.form-group.contact .form-group {
  width: 48%;
  margin-bottom: 0;
}

.profile-edit label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

/* Estilo para los datos fijos (span) */
.profile-edit span {
  padding: 8px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #555;
  font-size: 15px;
  box-sizing: border-box;
}

/* CLASES PARA PROFILE PICTURE */

.profile-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  margin-right: 0;
}

.profile-picture {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estructura en columna */
.column {
  flex-direction: row;
}


