/* Clases para Login*/
body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-image: url('https://www.ctu.com.mx/casas-en-venta/wp-content/uploads/2023/10/Header_Blog_Manual.jpg'); 
    /*background: linear-gradient(120deg, #3A3A3A, #FFFFFF, #2C3E50);*/
}
.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    font-size: 12px;
}

.formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid  #2C3E50;
}

.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}

.input-container {
    position: relative;
    border-bottom: 2px solid  #2C3E50;
    margin: 30px 0;
}

.input-container input {
    width: 100%;
    padding: 10px 0;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #42738E;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
    top: -5px;
    left: 5px;
    font-size: 12px;
    color:  #2C3E50;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center; /* Esto centra horizontalmente los botones dentro del contenedor */
}

.action-buttons a.btn {
    text-align: center;
    width: 100%; /* O el ancho que desees para que coincida con los dem치s botones */
    margin-top: 10px; /* Esto agrega espacio superior si lo necesitas */
    color: white;
    text-decoration: none;
}

a.btn {
    background-color: #007bff; /* Color del bot칩n */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

a.btn:hover {
    background-color: #0056b3; /* Color de hover del bot칩n */
}
.header_logo {
    display: flex;
    height: 300px;
    float: left;
    
}
.header_logo img {
    background-color: transparent;
    mix-blend-mode: multiply; /* Esto mezcla el logo con el fondo, haciendo el blanco m치s transparente */
}

.div_header {   
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
}