/*CLASES PARA index.html/Inicio*/
.header{
  overflow: hidden;
  background-color: #f5f5f5;
  padding: 5px 10px;
  position: fixed;
  width: 100%;
  border-style: outset;
  border-color: white;
  border-width: 0 1px 1px 1px;
  height: 50px;
  top: 0;
  left: 0;

 }
 
 .header_text {
     float: left;
     color: black;
     text-align: center;
     padding: 12px;
     text-decoration: none;
     font-size: 18px;
     line-height: 25px;
     border-radius: 4px;
   }
 
   .header_logo {
    display: flex;
    height: 55px;
    float: left;
   }
 
   .div_header {   
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
 }

 .header_left {
  margin-right: 20px;
  
 }
   .header_right {
     float: left;
     padding-right: 15px;
     justify-content:flex-end;
     align-items:flex-end;
   }
 
   .button_header {
     background-color: #e9bf8b;
     border: none;
     color: white;
     padding: 12px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 15px;
     margin: 4px 2px;
     cursor: pointer;
     border-radius: 4px;
   }
 
 
   .div_body { /*sin uso*/
     display: flex;
     padding: 20px;
     gap: 15px;
    }
 
    
   .div_body.a {   /*sin uso*/
     display: flex;
     padding: 20px;
     gap: 15px;
    }
 
    body {
     margin: 0;
     padding: 0;
     font-family: montserrat;
     background: linear-gradient(120deg, #f0ebeb);
     height: 100vh;
 }
 
  
   .container {    
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 100%;
     margin-top: 20px;
 }
 
 .section {
   display: flex;
   padding: 20px;
   margin: 10px;
   justify-content: center;
   align-items: center ;
   flex-direction: column;
   width: 100%;
   overflow: hidden;
 }

 /*actualizado*/
 footer {
  background-color: #f4f5f7;
  padding: 40px 0px;
  font-family: Arial, sans-serif;
  position:end;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  
}

.footer-column {
  flex: 1;
}

.footer-column h4 {
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #0079bf;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #dcdcdc;
  padding-top: 20px;
}

.footer-bottom p {
  margin: 0;
  color: #999;
  justify-content: center;
}

.social-icons a {
  margin-left: 10px;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

/*Clases Para el carrusel
* {
    margin: 0;
    padding: 0;
}

.slider {
    width: 100%;
    height: 300px; /* Aumentar la altura */
    overflow: hidden;
    margin-top: 50px; /* Agregar espacio arriba del carrusel */
}

figure {
    position: relative;
    left: 0;
    width: 400%; 
    animation: 10s slide infinite;
}

.slide {
    position: relative;
    width: 25%; /* 100% / 4 = 25% */
    float: left;
}

.slide h1 {
    position: absolute;
    font-size: 3em;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.slide img {
    width: 100%;
    height: 300px; /* Aumentar la altura para que coincida con el carrusel */
    object-fit: cover; /* Ajusta la imagen sin que se desfrome */
}

@keyframes slide {
    0% { left: 0; }
    25% { left: 0; }
    30% { left: -100%; }
    55% { left: -100%; }
    60% { left: -200%; }
    85% { left: -200%; }
    90% { left: -300%; }
    100% { left:-300%; }
}
