/*CLASES PARA index.html/Inicio*/
.header{
  overflow: hidden;
  background-color: #f2f0eb;
  padding: 5px 10px;
  position: fixed;
  width: 100%;
  border-style: outset;
  border-color: white;
  border-width: 0 1px 1px 1px;
  height: 50px;
 }
 
 .header_text {
     float: left;
     color: black;
     text-align: center;
     padding: 12px;
     text-decoration: none;
     font-size: 18px;
     line-height: 25px;
     border-radius: 4px;
   }
 
   .header_logo {
    display: flex;
    height: 55px;
    margin-top: 1px;
    margin-left: 1px;
   }
 
   .div_header {   
     display: flex;
     justify-content: space-between;
 }
 
   .header_right {
     float: right;
   }
 
   .header_left {
     float: left;
     padding-right: 15px;
   }
 
   .button_header {
     background-color: #1f1f1f;
     border: none;
     color: white;
     padding: 12px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 15px;
     margin: 4px 2px;
     cursor: pointer;
     border-radius: 4px;
   }
 
 
   .div_body { /*sin uso*/
     display: flex;
     padding: 20px;
     gap: 15px;
    }
 
    
   .div_body.a {   /*sin uso*/
     display: flex;
     padding: 20px;
     gap: 15px;
    }
 
    body {
     margin: 0;
     padding: 0;
     font-family: montserrat;
     background: linear-gradient(120deg, #f0ebeb);
     height: 100vh;
 }
 
  
   .container {    /*sin uso */
     display: flex;
     justify-content: space-between;
     width: 100%;
     margin-top: 20px;
 }
 
 .section {
   flex: 1;
   padding: 20px;
   margin: 10px;
   border: 1px solid #ccc,;
 }
 
 .footer-1 {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(255, 255, 255);
   color: black ;
   text-align: center;
   border: 1px solid #000000;
 }
 
 footer {
   background-color: #f4f5f7;
   padding: 40px 0;
   font-family: Arial, sans-serif;
 }
 
 .footer-container {
   display: flex;
   justify-content: space-around;
   margin-bottom: 20px;
 }
 
 .footer-column {
   flex: 1;
 }
 
 .footer-column h4 {
   font-size: 16px;
   margin-bottom: 20px;
   color: #333;
 }
 
 .footer-column ul {
   list-style: none;
   padding: 0;
 }
 
 .footer-column ul li {
   margin-bottom: 10px;
 }
 
 .footer-column ul li a {
   color: #0079bf;
   text-decoration: none;
 }
 
 .footer-column ul li a:hover {
   text-decoration: underline;
 }
 
 .footer-bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top: 1px solid #dcdcdc;
   padding-top: 20px;
 }
 
 .footer-bottom p {
   margin: 0;
   color: #999;
 }
 
 .social-icons a {
   margin-left: 10px;
 }
 
 .social-icons img {
   width: 24px;
   height: 24px;
 }