/* Clases para Suscripción */
body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282828;
}

.header_logo img {
    height: 80px; /* Ajusta la altura del logo */
    background-color: transparent; /* Quita el fondo del logo */
    mix-blend-mode: multiply; /* Mezcla el logo con el fondo */
}

.login-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e9bf8b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: absolute; /* Mueve el botón a la derecha */
    position: absolute; /* Posiciona en la esquina superior derecha */
    top: 10px;
    right: 20px;
}

.login-btn:hover {
    background-color: #d4a76b;
}

.subscription {
    text-align: center;
    padding: 50px 20px;
    padding-top: 100px; /* Más espacio arriba */
}

.subscription h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.plans {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px; /* Margen superior a los planes */
}

.plan {
    background-color: #282828;
    padding: 40px;
    border-radius: 10px;
    width: 300px; /* Ancho aumentado */
    height: 500px; /* Altura aumentada */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura el botón en la parte inferior */
    align-items: center; /* Centra el contenido horizontalmente */
}

.plan h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #e9bf8b;
}

.plan p {
    font-size: 20px;
    margin-bottom: 20px;
}

.plan ul {
    list-style: none;
    padding: 0; /* Quita el margen superior */
    margin-bottom: 20px;
}

.plan ul li {
    font-size: 16px;
    margin-bottom: 10px;
}

.subscribe-btn {
    background-color: #e9bf8b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    align-self: center; /* Centra el botón horizontalmente */
}

.subscribe-btn:hover {
    background-color: #d4a76b;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 20px;
    background-color: #282828;
    color: #bbb;
}