/* Clases para Suscripción */
body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.subscription {
    text-align: center;
    padding: 50px 20px;
    padding-top: 100px; /* Más espacio arriba */
}

.subscription h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.plans {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px; /* Margen superior a los planes */
}

.plan {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    height: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.plan h3 {
    margin-top: 0;
    font-size: 24px;
}

.plan ul {
    flex-grow: 1; /* Empuja la lista hacia abajo */
    margin-top: 20px;
    text-align: left;
}

.plan p {
    font-size: 20px;
    margin-bottom: 20px;
}



.plan ul li {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
}

.subscribe-btn {
    background-color: #7A5F4A;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    align-self: center; /* Centra el botón horizontalmente */
}

.subscribe-btn:hover {
    background-color: #d4a76b;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 20px;
    background-color:white ;
    color: black;
}

.precio {
    font-size: 20px;
    margin: 20px 0; /* Ajusta el margen superior e inferior */
}